.active{
    color: gray !important;
}
.liste{
    color: white !important;
}
.nava{
    background: black !important;
    font-weight: bolder !important;
}
.navbar-toggler{
    background: white !important;
}
.btn{
    border-radius: 20px !important;
}
a:hover{color: gray !important;}
#hero{
    position: relative;
    background: black;
    width: 100%;
    min-height: 100vh;
    padding: 120px 0 60px 0;
    display: flex;
    align-items: center;
    color: white;
}
#hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
#clients{height: 70px; background: #8080801c;}
#clients div div div div div img{
    width: 100px;
}
#clients div div div div{
    padding-left: 5%;
}
.car{height: 70px;}
#About{
    position: relative;
    margin-top: 10px;
}
.titre{
    color: black;
    font-weight: 700;
}
.titre::before{
    content: "";
    position: absolute;
    display:block;
    width: 160px;
    height: 1px;
    background: color-mix(in srgb, black, transparent 70%);
    left: 0;
    right: 0;
    bottom: 10;
    margin: auto;
}
.titre::after{
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    background: gray;
    left: 0;
    right: 0;
    bottom: 1;
    margin: auto;
}
*,::after, ::before {
    box-sizing: border-box;
}
#About div div ul{
    list-style: none;
    padding: 0;
}
#About div div ul li{
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}
#About div div ul i{
    font-size: 20px;
     padding-right: 4px;
    color: black;
}
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
#About .read-more {
    color: black;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 8px 28px;
    border-radius: 5px;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    text-decoration: none;
}
#About .read-more i {
    font-size: 18px;
    margin-left: 5px;
    line-height: 0;
    transition: 0.3s;
}
  
#About .read-more:hover {
    background: gray;
    color: white !important;
    border:2px solid gray;
}
#WhyUs{
    padding: 50px 0px 20px 0px;
    background: #8080801c;
}
.faq-item{
    background: white;
    padding: 20px;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 25px 0px color-mix(in srgb, gray , transparent 90%); overflow: hidden;
}
.faq-container span{
    color: black;
    font-size: 25px !important;
}
.faq-container h3{
    font-size: 20px;
    transition: 0.3s;
    cursor: pointer;
}
.faq-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
}
.faq-content p {
    margin-bottom: 0;
    overflow: hidden;
}
.faq-container .faq-item .faq-icon {
    position: absolute;
    top: 22px;
    left: 20px;
    font-size: 22px;
    line-height: 0;
    transition: 0.3s;
}
.faq-container .faq-item .faq-toggle {
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 16px;
    line-height: 0;
    transition: 0.3s;
    cursor: pointer;
}
.faq-container .faq-active .faq-content {
    grid-template-rows: 1fr;
    visibility: visible;
    opacity: 1;
    padding-top: 10px;
}
.faq-container .faq-active .faq-toggle {
    transform: rotate(90deg);
  }
#Why-us .faq-container .faq-item .faq-content p {
    margin-bottom: 0;
    overflow: hidden;
}
.whyUsImg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.whyUsImg img{
    max-width: 70%;
}
.skills{
    padding: 100px 0px 20px 0px;
}
.skills h3{
    color: black;
}
.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}
.skills .progress .skill {
    color: black;
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
}
.skills .progress .skill .val {
    float: right;
    font-style: normal;
}
.skills .progress-bar-wrap {
    background: color-mix(in srgb, gray, transparent 90%);
    height: 10px;
  }
.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: black;
}
#services{
    background-color: #8080801c;
    padding: 50px 0px 20px 0px;
}
#services .service-item {
    padding: 50px 30px;
    transition: all ease-in-out 0.4s;
    background-color: white;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.562);
}
#services .service-item .icon i {
    color: black;
    font-size: 36px;
}
#services .service-item h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 20px;
}
#services .service-item h4 a {
    color: gray;
    text-decoration: none;
}
#services .service-item p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    color: black;
}
#services .service-item:hover {
    transform: translateY(-10px);
}
#services .service-item:hover h4 a {
    color: black !important;
}
#callToAction{
  background-image: url(../images/cta-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.ambony{
    background: #87ceeb24;
    padding: 100px 100px;
    color: white;
}
.ambony .btn {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid black;
    color: white;
}
.ambony .btn:hover{
    background: white;
    color: black !important;
    border:2px solid white;
}
.portfolio{
    padding: 50px 20px;
}
.portfolio .portfolio-filters {
    padding: 0;
    margin: 0 auto 20px auto;
    list-style: none;
    text-align: center;
}
  
  .portfolio .portfolio-filters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 20px 10px 20px;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 5px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
.portfolio .portfolio-filters li:hover,
.portfolio .portfolio-filters li.filter-active {
  color: white;
  background-color: black;
}
  